
  
html
    head
        title= "Bio Tech - Order"
    body(style={
        'background': '#F2F2F2',
        'font-family': 'Helvetica, Arial, sans-serif',
        'padding-top': '40px',
        'padding-bottom': '40px'
    })
        div#content(style={
            'width': '600px',
            'margin': 'auto',
            'background': '#ffffff',
            'border': '1px solid #b9b8bf',
            'border-radius': '4px'
        })
            
            div#content-body(style={
                'margin-top': '20px',
                'padding': '15px'
            })
                p.greetings(style={ 'font-size': '20px' }) Good day.
                p This is to confirm your order booking and is for pick-up today. Please see attached for details.
                
                p Please do not reply to this message. Replies to this message are routed to an unmonitored mailbox. If you have questions contact us at customer@logistikus.com.
